<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Itemize - index</title>
  <meta href="css/reset.css" />
  <meta href="css/contain.css" />
</head>
<body>

{{ if .Users }}
<table>
  <tbody>
    {{ range .Users }}
    <tr>
      <td>{{ .Id }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ else }}
<div>
  No Users
</div>
{{ end }}

</body>
</html>