<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Itemize - index</title>
  <meta href="css/reset.css" />
  <meta href="css/contain.css" />
</head>
<body>

<div>
<dl>
  <dt>
    <label>Username:</label>
  </dt>
  <dd>
    {{ .Username }}
  </dd>
</dl>
<dl>
  <dt>
    <label>Email:</label>
  </dt>
  <dd>
    {{ .Email }}
  </dd>
</dl>
<dl>
  <dt>
    <label>First Name:</label>
  </dt>
  <dd>
    {{ .FirstName }}
  </dd>
</dl>
<dl>
  <dt>
    <label>Last Name:</label>
  </dt>
  <dd>
    {{ .LastName }}
  </dd>
</dl>

</div>
</body>
</html>