extends ../layouts/default

block main
  include ../components/banner-link/banner-link
  .row
    h2 Edit User

  form(method="POST", action="/update/user/{{ .Id }}")
    .row
      .six.columns
        label Username:
        input.u-full-width(type="text", name="Username" id="Username", value="{{ .Username }}")
      .six.columns
        label Email:
        input.u-full-width(type="text", name="Email", id="Email", value="{{ .Email }}")
    .row
      .six.columns
        label First Name:
        input.u-full-width(type="text", name="FirstName", id="FirstName", value="{{ .FirstName }}")
      .six.columns
        label Last Name:
        input.u-full-width(type="text", name="LastName", id="LastName", value="{{ .LastName }}")
    .row
      a.button(href="/users")
        | see users
      button.button-primary.u-pull-right(type="Submit") Submit
