extends ../layouts/default

block main
  include ../components/banner-link/banner-link
  .row
    h2 Item
  .row
    table.u-full-width
      tbody
        tr
          th Title
          td {{ .Title }}
        tr
          th Summary
          td {{ .Summary }}

  .row
    a.button(href="/items") view items
    a.button.button-primary.u-pull-right(href="/edit/item/{{ .Id }}") edit
