extends ../layouts/default


block main
  include ../components/banner-link/banner-link
  .row
    h2 Users
  .row
    table
      thead
        th Username
        th Name
        th Email
        th Details
      tbody
        | {{ range . }}
        tr
          td {{ .Username }}
          td {{ .LastName }}, {{ .FirstName }}
          td {{ .Email }}
          td
            a.button(href="/user/{{ .Id }}") view user
        | {{ end }}

  .row
    a.button.button-primary(href="/new/user") add user