extends ../layouts/default

block main
  include ../components/banner-link/banner-link
  .row
    h2 View User
  .row
    table.u-full-width
      tbody
        tr
          th Username
          td {{ .Username }}
        tr
          th Name
          td {{ .LastName }}, {{ .FirstName }}
        tr
          th Email
          td {{ .Email }}

  .row
    a.button(href="/users") view users
    a.button.button-primary.u-pull-right(href="/edit/user/{{ .Id }}") edit user
