include ../mixins/core-mixins.jade
doctype html
html
  head
    title Itemize
    link(rel='shortcut icon' href='/favicon.ico' type='image/x-icon')
    link(rel='icon' href='/favicon.ico' type='image/x-icon')
    meta(charset="UTF-8")
    link(rel="stylesheet" href=css.hash)
    block scripts
    block styles
  body
    block root

